/*default css style code for all pages of the website*/
:root{/*variables*/
    --nav-max-height: 100px;
    --primary-color: grey;
    --secondary-color: darkgrey;
    --accent-color: orange;
}
nav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 25%;
    max-height: var(--nav-max-height);
    background-color: var(--accent-color);
    display: flex;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: var(--primary-color);
}
.menuItem{
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    flex-grow: 1;  
    text-align: center;
    max-width: 30%;
}
.menuInteractive:hover{
    background-image: radial-gradient(rgb(255, 145, 0) 55%,orange 70%);
}
.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
