/*default css style code for all pages of the website*/
:root{/*variables*/
    --nav-max-height: 100px;
    --primary-color: rgb(56, 56, 56);
    --secondary-color: darkgrey;
    --accent-color: rgb(255, 145, 0);
    --accent-color-2: rgb(255, 123, 0);
}
nav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 25%;
    max-height: var(--nav-max-height);
    background-color: var(--accent-color);
    display: flex;
}
verticalnav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 20%;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: var(--primary-color);
    display: flex;
}

/*lower items ovverride*/
.menuItem{
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    flex-grow: 1;  
    text-align: center;
    width: 100%;
}
.menuItemVert{
    height: inherit;
}
.menuSpacer{
    width: 100%;
    background-color: transparent;
}

.menuInteractive:hover{
    background-image: radial-gradient(var(--accent-color-2) 55%,var(--accent-color) 70%);
}
.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
