/*default css style code for all pages of the website*/
:root{/*variables*/
    --nav-max-width: 7rem;
    --primary-color: rgb(56, 56, 56);
    --secondary-color: darkgrey;
    --accent-color: rgb(255, 145, 0);
    --accent-color-2: rgb(255, 123, 0);
}
nav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 20%;
    max-width: var(--nav-max-width);
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: var(--primary-color);
    display: flex;
}

/*lower items ovverride*/
.nav-mid,.nav-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.nav-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navItem{
    width: 100%;
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.navItem{
    text-decoration: none;
    cursor: pointer;
}
.nav-interactive:hover{
    /*background-image: radial-gradient(var(--accent-color-2) 55%,var(--accent-color) 70%);*/

    /*rounded square hover effect*/
    border-radius: 10%;
    background-color: var(--accent-color-2);
}
.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
