/*default css style code for all pages of the website*/
nav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 10%;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.menuBar{
    height: 100%;
    background-color: orange;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
}
.menuItem{
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    flex-grow: 1;
    text-align: center;
    height: inherit;
    max-width: 30%;
}
.menuInteractive:hover{
    background-image: radial-gradient(rgb(255, 145, 0) 55%,orange 70%);
}
.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
