/*default css style code for all pages of the website*/
:root{/*variables*/
    /*All Used Colours*/
    /*light mode*/
    --primary-light:#f8f8ff; /*ghost white, idea:slightly bluer to exentuate the orange accent colour*/
    --secondary-light:rgb(156, 156, 156);
    --text-light: black;
    /*dark mode*/
    --primary-dark: rgb(36, 36, 36);
    --secondary-dark:grey;
    --text-dark: #faf9f9; /*off-white*/
    /*universal colours*/
    --accent-color: rgb(255, 145, 0);
    --accent-color-2: rgb(255, 123, 0);

    /*selected theme colours*/
    --primary-color: var(--primary-light);
    --secondary-color: var(--secondary-light);
    --text-color: var(--text-light);
    --theme-toggle-enabled-colour: grey;
    --theme-toggle-disabled-colour: white;



    --nav-max-width: 7rem;

    --theme-toggle-width: 7rem;
    --theme-toggle-border-radius: 5px;
    
    /*root element attributes*/
    color: var(--text-color);
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    background-color: var(--primary-color);

    display: flex;
}
main{
    /*for mobile devices with notches*/
    padding-bottom: env(safe-area-inset-bottom); 
    padding-right: env(safe-area-inset-right);
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--primary-color);
}
nav{
    margin: 0px;
    border: 0px;
    /*for mobile devices with notches*/
    padding-left: env(safe-area-inset-left); 
    padding-bottom: env(safe-area-inset-bottom);
    height: 100%;
    width: 20%;
    max-width: var(--nav-max-width);
    background-color: var(--accent-color);
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
/*lower items ovverride*/
.nav-mid,.nav-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.nav-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navItem{
    width: 100%;
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.navItem{
    text-decoration: none;
    cursor: pointer;
}
.nav-interactive:hover{
    /*background-image: radial-gradient(var(--accent-color-2) 55%,var(--accent-color) 70%);*/

    /*rounded square hover effect*/
    border-radius: 10%;
    background-color: var(--accent-color-2);
}

.theme-toggle{
    width: var(--theme-toggle-width);
    height: var(--theme-toggle-width/2);
    background-color: transparent;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    border-radius: var(--theme-toggle-border-radius);

    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
}
.theme-icon{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-icon.sun{
    background-color: var(--theme-toggle-enabled-colour);
    border-top-left-radius: var(--theme-toggle-border-radius);
    border-bottom-left-radius: var(--theme-toggle-border-radius);
}
.theme-icon.moon{
    background-color: var(--theme-toggle-disabled-colour);
    border-top-right-radius: var(--theme-toggle-border-radius);
    border-bottom-right-radius: var(--theme-toggle-border-radius);
}

#content-wrapper{
    height: 100vh; width: 100%; display: flex; flex-direction: column; justify-content: center;
}


.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
