/*default css style code for all pages of the website*/
:root{/*variables*/
    /*All Used Colours*/
    /*light mode*/
    --primary-light:rgb(228, 228, 228);
    --secondary-light:rgb(156, 156, 156);
    /*dark mode*/
    --primary-dark: rgb(36, 36, 36);
    --secondary-dark:grey;
    /*universal colours*/
    --accent-color: rgb(255, 145, 0);
    --accent-color-2: rgb(255, 123, 0);

    /*selected theme colours*/
    --primary-color: var(--primary-light);
    --secondary-color: var(--secondary-light);
    --theme-toggle-enabled-colour: grey;
    --theme-toggle-disabled-colour: white;



    --nav-max-width: 7rem;

    --theme-toggle-width: 7rem;
    --theme-toggle-border-radius: 5px;
    
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;

    background-color: blue;/*var(--primary-color);*/
    display: flex;
}
main{
    padding-left: var(--nav-max-width); /*aligns content to be beside navbar*/
    padding-bottom: env(safe-area-inset-bottom); /*for mobile devices with notches*/
    position: relative;
    height: 100%;
    width: 100%;

}
nav{
    margin: 0px;
    border: 0px;
    padding-left: env(safe-area-inset-left); /*for mobile devices with notches*/
    height: 100%;
    width: 20%;
    max-width: var(--nav-max-width);
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
/*lower items ovverride*/
.nav-mid,.nav-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.nav-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navItem{
    width: 100%;
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.navItem{
    text-decoration: none;
    cursor: pointer;
}
.nav-interactive:hover{
    /*background-image: radial-gradient(var(--accent-color-2) 55%,var(--accent-color) 70%);*/

    /*rounded square hover effect*/
    border-radius: 10%;
    background-color: var(--accent-color-2);
}

.theme-toggle{
    width: var(--theme-toggle-width);
    height: var(--theme-toggle-width/2);
    background-color: transparent;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    border-radius: var(--theme-toggle-border-radius);

    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
}
.theme-icon{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-icon.sun{
    background-color: var(--theme-toggle-enabled-colour);
    border-top-left-radius: var(--theme-toggle-border-radius);
    border-bottom-left-radius: var(--theme-toggle-border-radius);
}
.theme-icon.moon{
    background-color: var(--theme-toggle-disabled-colour);
    border-top-right-radius: var(--theme-toggle-border-radius);
    border-bottom-right-radius: var(--theme-toggle-border-radius);
}


.slide{
    width: 100%;
    height: 400px;
    
    display:none;
}
